version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-system
    ports:
      - '8080:3000'
    env_file:
      - .env.development.local
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: postgres:18.1
    container_name: postgres-db
    restart: always
    env_file:
      - .env.development.local
    ports:
      - '5432:5432'
    volumes:
      - pgData:/var/lib/postgresql

volumes:
  pgData:
