version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-system
    ports:
      - '8080:3000'
    env_file:
      - .env.development.local
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: postgres:18.1
    container_name: postgres-db
    restart: always
    env_file:
      - .env.development.local
    ports:
      - '5432:5432'
    volumes:
      - pgData:/var/lib/postgresql

  redis:
    image: redis:8.4.0-alpine
    container_name: redis_server
    restart: unless-stopped
    ports:
      - '6379:6379'
    env_file:
      - .env.development.local
    command:
      - redis-server
      - --appendonly
      - yes
      - --requirepass
      - "${REDIS_PASSWORD}"
    volumes:
      - redis_data:/data

volumes:
  pgData:
  redis_data:
